/* Footer Component Styles */

.footer {
  padding: 30px;
  width: 100%;
  height: 200px;
  background-color: #0357A2;
  display: flex;
  justify-content: space-around;
  font-family: "Courier New", Courier, monospace;
  color: white;
}
